body {
  background: linear-gradient(to bottom right, #9b4b8f, #cf4e6f);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card:hover img {
  filter: grayscale(100%) contrast(1.2);
}

.card:hover .card-overlay {
  opacity: 1;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "Space Mono", monospace;
}

.description {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px 0 0 0;
  font-family: "Space Mono", monospace;
}
